
<% if @yoga_classes.empty? %>
	<div class="post">
		<h2 class="title">Nothing here yet</h2>
	</div>
<% else %>
	<% @yoga_classes.each do |yoga_class| %>
		<div class="post">
			<h2 class="title"><a href="#"><%= yoga_class.name%> - <%=h yoga_class.type_of%></a></h2>
			<div class="entry">
				<p>
					<%=h yoga_class.description %>
					<ul>
					<li><b>Type of Class: </b><%=h yoga_class.type_of %></li>
					<li><b>Level: </b><%=h yoga_class.level %></li>
					<li><b>Location: </b><%=h yoga_class.studio%></li>
					<li><b>User: </b><%=h yoga_class.user.login%>
					</ul>
				</p>
			</div>
		</div>
		<% end %>
<% end %>