<h1>Adding New Class</h1>

<% form_for(@yoga_class, :url => { :controller => 'yoga_classes', :action => "create" }) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :class_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.select :level, ['Beginner','Intermediate','Advanced'] %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :yoga_type %><br />
    <%= f.select :type_of, ['Iyengar','Bikram','Jivamukti','Kundalini','Power','Ashtanga'] %>
  </p>
  <p>
    <%= f.submit 'Create Class' %>
  </p>
<% end %>