<p>
  <b>Name:</b>
  <%=h @yoga_class.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @yoga_class.level %>
</p>

<p>
  <b>Description:</b>
  <%=h @yoga_class.description %>
</p>

<p>
  <b>Style:</b>
  <%=h @yoga_class.type_of %>
</p>

<p>
  <b>Studio:</b>
  <%=h @yoga_class.studio %>
</p>