<h1>Editing instructor</h1>

<% form_for(@instructor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bio %><br />
    <%= f.text_field :bio %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>