<h3>Login</h3><br>
<%=h @user.login%><br>
<h3>password</h3>
<%=h @user.password%><br>
<h3>email</h3><br>
<%=h @user.email%><br>
<h3> Name</h3><br>
<%= @user.name%><br>
<h3> user id</h3><br>
<%= @user.id %>